<h1>Create Your Pantry</h1>

<form action="/pantry" method="post">
  <label>Name: </label>
  <input type="text" name="name">
  <button type="submit" class="submitButton">Create Pantry</button>
  
</form>