<h3>Sign Up</h3>
<form action="/signup" method="post">
  <input type="text" name="username" placeholder="Username:">
  <input type="email" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <button type="submit" class="submitButton">Submit</button>
</form>