<h1>Create a New Item:</h1>


  <form action='/items' method="post">
    Name:
    <input type="text" name="name" placeholder="Name"><br>
    Brand:
    <input type="text" name="brand" placeholder="Brand"><br>
    Variety:
    <input type="text" name="variety" placeholder="Variety"><br>
    Flavor:
    <input type="text" name="flavor" placeholder="Flavor"><br>
    <br>

    <label><strong>Choose an existing category:</strong></label>

  <br>
  <% if !@categories.empty? %>
    <% @categories.each do |category| %>
      <input type="checkbox" name="item[category_id][]" id="<%= category.id %>" value="<%= category.id %>"><%= category.name %></input>
    <% end %>
  <% else %>
    <p>No categories currently exist.</p>
  <% end %>
  <br>

    <label><strong>Or, create a new category:</strong></label>
    <br>
    <label>Category Name:</label>
      <input  type="text" name="category[name]"></input>
    <br>
  <input type="submit" value="Create Category"><br>
  <br>
  <br>
  
    <b>Create Your Item:</b>

    <input type="submit" name="submit" id="submit">

  </form>