<div class="container">
  <header><img src="https://bankkita.com/images250_/pantry-clipart-13.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Pantry Manager</h2>

    <div class="content">
      <p>Welcome to the your Pantry Manager!</p>
      <p>
        <% if logged_in? %>
          Welcome, <%= current_user.username %><a href="/pantry">View Pantry</a><a href="/logout">Log Out</a>
        <% else %>
          <a href="/signup">Sign Up</a>   <a href="/login">Log In</a>
        <% end %>
      </p>
    </div>

  </div>
</div>
