<div class="container">
  <header><img src="https://bankkita.com/images250_/pantry-clipart-13.png" class="img-responsive main-image center"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2 class="center-text">Pantry Manager</h2>
    <p class="center-text">Welcome to the your Pantry Manager!</p>
    <div class="button-div">
    <% if logged_in? %>
    <form action="/pantry">
      <button class="viewPantryButton center">View Pantry</button>
      </form>
    <% else %>
      <form action="/login">
      <button class="viewPantryButton center">Log In</button>
      </form>
    <% end %>
    </div>
    <div class="content">
      
    </div>

  </div>
</div>
